/*
 * Slidey 0.2
 *
 * Author: Gautham Yerroju
 * GitHub: https://github.com/GauthamYerroju/Slidey
 */

/* Styling for the drawer */
#slidey {
    box-sizing: border-box;

    position: fixed;
    top: 0;
    z-index: 100;

    width: 16em;
    /*  Height more than 100% meeded because at 100%,
        Chrome on Android doesn't render full height
        when hiding the address bar */
    height: 150%;
    overflow-y: hidden;

    transition: left 0.3s ease, right 0.3s ease;
}

/* Hidden state styling for left and right variants */
#slidey.slidey--left {
    left: -16em;
    box-shadow: 0;
}
#slidey.slidey--right {
    right: -16em;
    box-shadow: 0;
}

/* Open state styling for left and right variants */
#slidey.slidey--left.slidey--open {
    left: 0;
}
#slidey.slidey--right.slidey--open {
    right: 0;
}

/* Styling for the switch */
#slidey__toggle {
    position: fixed;
    top: 1em;

    width: 2em;
    height: 2em;

    transition: left 0.3s ease, right 0.3s ease;

    /* Cosmetic Stuff */
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("Slidey__Toggle.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Hidden state styling for left and right variants */
#slidey.slidey--left > #slidey__toggle {
    left: 1em;
}
#slidey.slidey--right > #slidey__toggle {
    right: 1em;
}

/* Open state styling for left and right variants */
#slidey.slidey--left.slidey--open > #slidey__toggle {
    left: 17em;
}
#slidey.slidey--right.slidey--open > #slidey__toggle {
    right: 17em;
}

/* Close button */
#slidey__close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    width: 1em;
    height: 1em;

    /* Cosmetic Stuff */
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("Slidey__Close.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* Basic Styling, use .slidey--styled to turn on */

#slidey.slidey--styled {
    /* Basic Styling */
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    color: gray;
    text-decoration: none;
}

#slidey.slidey--styled a {
    display: block;
    padding: 0.5em 1em;

    text-decoration: inherit;
    color: inherit;
    font-weight: bold;

    transition: color 0.3s ease, background-color 0.3s ease;

    text-indent: 1em;
}
#slidey.slidey--styled a:active {
    color: black;
}
#slidey.slidey--styled a:not(.slidey__brand):hover {
    background-color: #DDD;
    color: black;
}

#slidey.slidey--styled .slidey__brand {
    display: block;
    padding: 0.5em 1em;

    font-size: 1.5em;
    font-weight: bold;
    text-indent: 0;
}
